.l{
    margin-left: 9px;
}
.i1{
  margin-left: 100px;
}

.h{
  margin-left: 450px;  
  display: inline;
}
.a1{
  display: inline-block;
  font-size:20px;
  color: coral;
  margin-left: 400px ;
}

.a111{
  font-size: 20px;
  color:navy;
  margin-left:100px;
}
