.l{
    margin-left: 9px;
}
.i1{
  margin-left: 100px;
}

.h{
  margin-left: 450px;  
  display: inline;
}
.a1{
  display: inline-block;
  font-size:20px;
  color: coral;
  margin-left: 400px ;
}

.a111{
  font-size: 20px;
  color:blue;
  margin-left:170px;
}


.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 110px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 50%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
