<div>
    <div style="background-color: black;color: white;height: 150px;">
        <img class="i" [src]=img alt="logo">
       <h1>LifeStyle </h1>
    
    </div>
   </div>
    
   
 
<!-- <app-root></app-root>-->
<!--<app-home></app-home>-->
<!--<app-login></app-login>-->
<!--<app-signup></app-signup>-->
<!--<app-productdetails></app-productdetails>-->
<!--<app-myorder></app-myorder>-->
<!--<app-admin></app-admin>-->
<!--<app-contact></app-contact>-->
<!--<app-about></app-about>-->
<!--<app-checkout></app-checkout>-->
<!--<app-feedback></app-feedback>-->
<!--<app-viewproducts></app-viewproducts>-->
<!--<app-updateproducts></app-updateproducts>-->
<router-outlet></router-outlet>